<div th:fragment="syncSmartStoreItemOrderModal" id="modalSyncSmartStoreItemOrder" class="modal" tabindex="-1">

    <div class="modal-dialog">
        <div class="modal-content">

            <form id="formSyncExternalOrders" method="POST" th:action="@{/v2/synchronize/external-item-orders}">

                <input id="iptExternalOrders" type="hidden" name="externalOrders" />

                <div class="modal-header">
                    <h5 class="modal-title">스마트스토어 상품주문 연동</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="uploadSmartStoreItemOrder" class="form-label">파일</label>
                        <input type="file" id="uploadSmartStoreItemOrder" class="form-control" aria-describedby="excelFileHelpBlock">
                        <div id="excelFileHelpBlock" class="form-text">
                            Excel 통합 문서(.xlsx) 혹은 Excel 97-2004 통합 문서(.xls)을 업로드 해주세요.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-primary">전송하기</button>
                </div>
            </form>
        </div>
    </div>
</div>