<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="nextSortParams" type="java.util.Map<java.lang.String, java.lang.String>"*/-->
<div th:fragment="sortHeader(paramName, label, nextSortParams)"
     th:with="nextSortParam = ${nextSortParams.getOrDefault(paramName, 'UNSORTED')}">

    <a th:href="${@replaceOrAddParam.apply('sort', nextSortParam)}">

        <span th:text="${label}">헤더 레이블</span>

        <i class="bi bi-caret-down-fill primary" th:if="${nextSortParam.endsWith('ASC')}"></i>
        <i class="bi bi-caret-up-fill" th:if="${nextSortParam.equals('UNSORTED')}"></i>
    </a>
</div>

<!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<?>"*/-->
<nav th:fragment="pageControl(page)"
        aria-label="Page navigation"
     th:with="currentPage = ${page?.number},
                  totalPages = ${page?.totalPages},
                  startPage=${(currentPage < 2 ? 0 : (T(java.lang.Math).min(currentPage - 2, totalPages - 5)))}"
>
    <ul class="pagination justify-content-center">

        <li class="page-item" th:classappend="${page.isFirst() == true ? 'disabled' : ''}">
            <a class="page-link" th:href="${@replaceOrAddParam.apply('page', #strings.toString(currentPage - 1))}" aria-label="이전 페이지로">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li class="page-item" th:if="${currentPage > 2}">
            <a class="page-link" th:href="${@replaceOrAddParam.apply('page', #strings.toString(0))}" th:text="1" th:aria-label="|1번 페이지로|"></a>
        </li>

        <li class="page-item disabled" th:if="${currentPage > 3}">
            <a class="page-link" href="#">...</a>
        </li>

        <li class="page-item"
            th:classappend="${i == currentPage ? 'active' : ''}"
            th:each="i : ${#numbers.sequence(startPage, T(java.lang.Math).min(startPage + 4, totalPages - 1))}">
            <a class="page-link"
               th:href="${@replaceOrAddParam.apply('page', #strings.toString(i))}"
               th:text="${i + 1}">페이지 번호</a>
        </li>

        <li class="page-item disabled" th:if="${currentPage < (totalPages - 4)}">
            <a class="page-link" href="#">...</a>
        </li>

        <li class="page-item" th:if="${currentPage < (totalPages - 3)}">
            <a class="page-link" th:href="${@replaceOrAddParam.apply('page', #strings.toString(totalPages - 1))}" th:text="${totalPages}"></a>
        </li>

        <li class="page-item" th:classappend="${page.isLast() == true ? 'disabled' : ''}">
            <a class="page-link" th:href="${@replaceOrAddParam.apply('page', #strings.toString(currentPage + 1))}" aria-label="이전 페이지로">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<!--/*@thymesVar
id="page" type="org.springframework.data.domain.Page<?>"
id="baseUrl" type="java.lang.String"
*/-->
<div th:fragment="pageHeader(baseUrl, page, content)" class="d-flex align-items-end gap-3">
    <div>총 <span th:text="${page.totalElements}" class="text-primary fw-bold">0</span>건</div>

    <div class="flex-grow-1"></div>

    <div th:replace="${content}"></div>

    <div class="d-flex gap-2">
        <div class="col-auto">
            <select id="selectPageSize" class="form-select" aria-label="페이지 크기 선택" name="size">
                <option th:selected="${page.size} == 5" th:value="${@replaceUri.apply(baseUrl + '?page=0&size=5')}">5개</option>
                <option th:selected="${page.size} == 10" th:value="${@replaceUri.apply(baseUrl + '?page=0&size=10')}">10개</option>
                <option th:selected="${page.size} == 25" th:value="${@replaceUri.apply(baseUrl + '?page=0&size=25')}">25개</option>
                <option th:selected="${page.size} == 50" th:value="${@replaceUri.apply(baseUrl + '?page=0&size=50')}">50개</option>
            </select>
        </div>

        <div class="col-auto">
            <a id="btnChangePageSize" class="btn btn-secondary" th:href="${@replaceUri.apply(baseUrl + '?page=0&size=' + #strings.toString(page.size))}">
                변경
            </a>
        </div>
    </div>
</div>
</html>