
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="response" type="kr.tatine.manibogo_oms_v2.fulfillment.ui.SynchronizeResponse"*/-->
<div th:fragment="syncResponse(response)">

  <th:block th:if="${response != null}">

    <div class="alert alert-primary" role="alert" th:if="${response.successes.size() > 0}">
      <div class="d-flex gap-2">
        <span th:text="${response.successes.size()}">0</span>건을 성공적으로 연동했습니다.
        <a href="#" class="alert-link">성공 건수 확인하기</a>
      </div>
    </div>

    <div class="alert alert-warning" role="alert" th:if="${response.skips.size() > 0}">

      <div class="d-flex gap-2">
        <span th:text="${response.skips.size()}">0</span>건이 이미 연동되어 처리되지 않았습니다.
        <a href="#" class="alert-link">중복 건수 확인하기</a>
      </div>
    </div>

    <div class="alert alert-danger" th:if="${response.errors.size() > 0}">

      <div class="d-flex gap-2">
        <span th:text="${response.errors.size()}">0</span>건을 연동하는 중 실패했습니다.
        <a href="#synchronizeErrors" class="alert-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="synchronizeErrors">에러 확인하기</a>
      </div>

      <div class="collapse" id="synchronizeErrors">
        <div style="height: 16px;"></div>
        <ol class="list-group">
          <li class="list-group-item list-group-item-danger" th:each="error : ${response.errors}">
            <div class="ms-2 me-auto">
              <div class="fw-bold" th:text="${error.itemOrderNumber}">상품주문번호</div>
              <div th:each="errorMessage : ${error.errorMessages}" th:text="${errorMessage}">에러 메세지</div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </th:block>

</div>

<!--/*@thymesVar id="response" type="kr.tatine.manibogo_oms_v2.fulfillment.ui.FulfillmentRowResponse"*/-->
<div th:fragment="editItemOrderResponse(response)">

  <th:block th:if="${response != null}">

    <div class="alert alert-success" role="alert" th:if="${response.successes.size() > 0}">
      <div class="d-flex gap-2">
        성공적으로
        <a href="#" class="alert-link">성공 건수 확인하기</a>
      </div>
    </div>

    <div class="alert alert-warning" role="alert" th:if="${response.skips.size() > 0}">

      <div class="d-flex gap-2">
        <span th:text="${response.skips.size()}">0</span>건이 이미 연동되어 처리되지 않았습니다.
        <a href="#" class="alert-link">중복 건수 확인하기</a>
      </div>
    </div>

    <div class="alert alert-danger" th:if="${response.errors.size() > 0}">

      <div class="d-flex gap-2">
        <span th:text="${response.errors.size()}">0</span>건을 연동하는 중 실패했습니다.
        <a href="#synchronizeErrors" class="alert-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="synchronizeErrors">에러 확인하기</a>
      </div>

      <div class="collapse" id="synchronizeErrors">
        <div style="height: 16px;"></div>
        <ol class="list-group">
          <li class="list-group-item list-group-item-danger" th:each="error : ${response.errors}">
            <div class="ms-2 me-auto">
              <div class="fw-bold" th:text="${error.itemOrderNumber}">상품주문번호</div>
              <div th:each="errorMessage : ${error.errorMessages}" th:text="${errorMessage}">에러 메세지</div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </th:block>

</div>

</html>
