.table td, .table th {
    min-width: 64px;
    height: 48px;
    vertical-align: middle;
}

.col-date {
    min-width: 112px !important;
}

.col-state {
    min-width: 88px !important;
}

.col-expand {
    min-width: auto !important;
}

.table-row.is-invalid {
    outline: 1px solid var(--bs-danger);
    outline-offset: -2px;
}

.purchased, .purchased:focus {
    background-color: #F1FFF0;
    border-color: #57bb4e;
}

.dispatched, .dispatched:focus {
    background-color: #FFF2EA;
    border-color: #da7740;
}

.shipped, .shipped:focus {
    background-color: #F1F9FF;
    border-color: #4cb4ef;
}

.confirmed, .confirmed:focus {
    background-color: #fbffdf;
    border-color: #aac233;
}

.cancelled, .cancelled:focus {
    background-color: #FDF3FB;
    border-color: #ff4cdd;
}

.refunded, .refunded:focus {
    background-color: #F6F3FE;
    border-color: #815fff;
}

.selected {
    background-color: #EDEFFF;
}

.img-order-location {
    width: 21px;
    height: 21px;
}
