.table td, .table th {
    min-width: 64px;
    height: 48px;
    vertical-align: middle;
}

.table-row.selected td {
    background-color: var(--bs-primary-bg-subtle);
}

.col-date {
    min-width: 112px !important;
}

.col-state {
    min-width: 88px !important;
}

.col-expand {
    min-width: auto !important;
}

.purchased, .purchased:focus {
    background-color: #F1FFF0;
    border-color: #57bb4e;
}

.dispatched, .dispatched:focus {
    background-color: #FFF2EA;
    border-color: #da7740;
}

.shipped, .shipped:focus {
    background-color: #F1F9FF;
    border-color: #4cb4ef;
}

.confirmed, .confirmed:focus {
    background-color: #fbffdf;
    border-color: #aac233;
}

.cancelled, .cancelled:focus {
    background-color: #FDF3FB;
    border-color: #ff4cdd;
}

.refunded, .refunded:focus {
    background-color: #F6F3FE;
    border-color: #815fff;
}

.selected {
    background-color: #EDEFFF;
}

.img-order-location {
    width: 21px;
    height: 21px;
}

.is-invalid.warn {
    border-color: var(--bs-warning) !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23FFC107FF'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='%23FFC107FF' stroke='none'/></svg>");
}

.invalid-tooltip.warn {
    background-color: var(--bs-warning);
}