* {
    font-size: 12px !important;
    box-sizing: border-box !important;
}

.text-left {
    text-align: left;
}

input, select {
    /* top right bottom left */
    padding: 4px 4px 2px 4px;

    border: 1px solid #9f9f9f;
    border-radius: 2px;
}

::-webkit-calendar-picker-indicator{
    margin-left: -6px;
    font-size: 11px;
}

.accent {
    font-weight: bold;
    color: #EB5181FF;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.row {
    display: flex;
    align-items: center;
}

.row.valign-start {
    align-items: flex-start;
}
