<!DOCTYPE html>
<html th:replace="~{fragments/layout::layoutFragment (~{::title}, ~{::section}, ~{}, ~{})}"
      xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>마니보고 주문관리 서비스 V2 - 주문생성</title>
</head>
<body>

<section class="p-4">
<form th:method="POST" th:action="@{/v2/orders/add}" th:object="${form}" class="container-fluid row">

  <button type="submit">완료</button>

  <div class="col-12 col-xl-8 mb-4 mb-xl-0">
    <div class="w-100 bg-primary">왼쪽</div>
  </div>

  <div class="col-12 col-xl-4">
    <h3>상품목록</h3>

    <div style="height: 8px;"></div>

    <div class="card p-3" th:each="itemOrder, stat : *{itemOrderForms}">
      <div class="mb-2"></div>

      <div class="row">

        <div class="col-12 col-md-8 mb-3">
          <label th:for="|itemOrderForms${stat.index}.productName|" class="form-label">상품명</label>
          <input class="form-control" type="text"
                 th:field="*{itemOrderForms[__${stat.index}__].productName}" readonly />
        </div>

        <div class="col-12 col-md-4 mb-3">
          <label th:for="|itemOrderForms${stat.index}.amount|" class="form-label">주문수량</label>
          <input type="number" class="form-control" th:field="*{itemOrderForms[__${stat.index}__].amount}">
        </div>

      </div>

      <div class="row">
        <div class="col-12 col-md-4 col-xl-12 mb-3"
             th:each="key : ${productOptions.get(itemOrder.productNumber).keySet()}">
          <label class="form-label"
                 th:for="|itemOrderForms${stat.index}.options${keyStat.index}.value|"
                 th:text="${key}">
            옵션키
          </label>

          <input type="hidden" th:name="|itemOrderForms[${stat.index}].options[${keyStat.index}].key|" th:value="${key}">

          <select class="form-select"
                  th:field="*{itemOrderForms[__${stat.index}__].options[__${keyStat.index}__].value}">
            <option selected="selected" th:value="null">선택</option>
            <option th:each="variant : ${productOptions.get(itemOrder.productNumber).get(key)}" th:value="${variant.value}" th:text="${variant.label}"></option>
          </select>
        </div>
      </div>

      <hr class="mb-4"/>

      <div class="row">
        <div class="col-12 col-md-4 col-xl-12 mb-3">
          <label th:for="|itemOrderForms${stat.index}.purchaseMemo|" class="form-label">발주메모</label>
          <textarea class="form-control auto-height"
                    th:field="*{itemOrderForms[__${stat.index}__].purchaseMemo}"
                    rows="1"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    data-bs-title="공장에 전달할 메세지를 입력해 주세요."
          ></textarea>
        </div>
        <div class="col-12 col-md-4 col-xl-12 mb-3">
          <label th:for="|itemOrderForms${stat.index}.shippingMemo|" class="form-label">배송메모</label>
          <textarea class="form-control auto-height"
                    th:field="*{itemOrderForms[__${stat.index}__].shippingMemo}"
                    rows="1"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    data-bs-title="배송팀에 전달할 메시지를 입력하세요. 서명시 고객이 볼수 있으니 주의하세요."
          ></textarea>
        </div>
        <div class="col-12 col-md-4 col-xl-12 mb-3">
          <label th:for="|itemOrderForms${stat.index}.adminMemo|" class="form-label">관리자메모</label>
          <textarea class="form-control auto-height"
                    th:field="*{itemOrderForms[__${stat.index}__].adminMemo}"
                    rows="1"
                    data-bs-placement="right"
                    data-bs-title="관리자만 사용합니다. 공장 및 배송팀은 볼 수 없습니다."
          ></textarea>
        </div>
      </div>
    </div>

    <div style="height: 32px;"></div>

    <h5>상품추가</h5>
    <div class="d-flex">
      <div class="flex-grow-1">
        <select id="selectProductNumber" class="form-select" aria-label="Default select example" readonly="readonly">
          <option selected>선택</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div style="width: 8px;"></div>

      <button type="button" class="btn btn-primary">상품 추가</button>
    </div>
  </div>

</form>


</section>
</body>
</html>