<!DOCTYPE html>
<html th:replace="~{fragments/layout::layoutFragment (~{::title}, ~{::section}, ~{}, ~{})}"
      xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>마니보고 주문관리 서비스 V2 - 주문생성</title>
</head>
<body>

<section class="p-4 row">

<div class="col-12 col-xl-8 mb-4 mb-xl-0">
  <div class="w-100 bg-primary">왼쪽</div>
</div>

<div class="col-12 col-xl-4">
  <h3>주문상품</h3>
  <hr/>

  <div style="height: 16px;"></div>

  <div class="card p-3">
    <div class="row">

      <div class="col-12 col-md-5 col-xl-12 mb-3">
        <label for="selectProductNumber" class="form-label">상품명</label>
        <select id="selectProductNumber" class="form-select" aria-label="Default select example">
          <option selected>선택</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="col-12 col-md-5 col-xl-12 mb-3">
        <label for="inputOptionInfo" class="form-label">상품옵션</label>
        <div class="input-group">
          <input type="text" class="form-control" id="inputOptionInfo" readonly>
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">선택</button>
        </div>
      </div>

      <div class="col-12 col-md-2 col-xl-12 mb-3">
        <label for="inputAmount" class="form-label">주문수량</label>
        <input type="number" class="form-control" id="inputAmount">
      </div>

    </div>

    <div class="row">
      <div class="col-12 col-md-4 col-xl-12 mb-3">
        <label for="inputPurchaseMemo" class="form-label">발주메모</label>
        <textarea class="form-control"
                  id="inputPurchaseMemo"
                  rows="2"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-title="공장에 전달할 메세지를 입력해 주세요."
        ></textarea>
      </div>
      <div class="col-12 col-md-4 col-xl-12 mb-3">
        <label for="inputShippingMemo" class="form-label">배송메모</label>
        <textarea class="form-control"
                  id="inputShippingMemo"
                  rows="2"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-title="배송팀에 전달할 메시지를 입력하세요. 서명시 고객이 볼수 있으니 주의하세요."
        ></textarea>
      </div>
      <div class="col-12 col-md-4 col-xl-12 mb-3">
        <label for="inputAdminMemo" class="form-label">관리자메모</label>
        <textarea class="form-control"
                  id="inputAdminMemo"
                  rows="2"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-title="관리자만 사용합니다. 공장 및 배송팀은 볼 수 없습니다."
        ></textarea>
      </div>
    </div>
  </div>

</div>


<!--        <div class="row row-cols-2 row-cols-xl-1">-->
<!--          <div class="col-12 col-md-6 mb-3">-->
<!--            <label for="selectProductNumber" class="form-label">제품명</label>-->
<!--            <select id="selectProductNumber" class="form-select" aria-label="Default select example" required>-->
<!--              <option selected>선택</option>-->
<!--              <option value="1">One</option>-->
<!--              <option value="2">Two</option>-->
<!--              <option value="3">Three</option>-->
<!--            </select>-->
<!--            <div class="form-text">*필수 선택</div>-->
<!--          </div>-->
<!--          <div class="col-12 col-md-6 mb-3">-->
<!--            <label for="inputAmount" class="form-label">수량</label>-->
<!--            <input type="number" class="form-control" id="inputAmount">-->
<!--          </div>-->

<!--        </div>-->
</section>
</body>
</html>