<!DOCTYPE html>
<html th:replace="~{fragments/layout::layoutFragment (~{::title}, ~{::section}, ~{}, ~{})}"
      xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마니보고 주문관리 서비스 V2 - 풀필먼트</title>
</head>

<body>

<section class="p-xl-5 p-md-4 p-sm-3">

    <div th:replace="~{modal/sync-smart-store-item-order :: syncSmartStoreItemOrderModal}"></div>

    <nav class="d-flex gap-2">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                연동하기
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalSyncSmartStoreItemOrder">스마트스토어 상품주문</a></li>
            </ul>
        </div>

        <div class="flex-grow-1"></div>

        <button type="submit" form="formEditSummaries" class="btn btn-primary">
            <i class="bi bi-pencil-fill"></i> 선택수정
        </button>
    </nav>

    <hr/>

    <div style="height: 8px;"></div>

    <div th:replace="~{fragments/sync-result :: syncResult(${synchronizeResponse})}"></div>

        <div class="d-flex align-items-end">
                <div>
                    총 <span th:text="${page.getTotalElements()}" class="text-primary fw-bold">0</span>건
                </div>

            <div class="flex-grow-1"></div>

            <form method="GET" th:action="@{/v2/fulfillment}">

                <input type="hidden" th:value="${page.pageable.pageNumber}" />
                <input type="hidden" th:value="${page.pageable.sort}" />

                <div class="d-flex align-items-center gap-2">

                    <div class="col-auto">
                        <select id="selectPageSize" class="form-select" aria-label="페이지 크기 선택" name="size">
                            <option th:selected="${pageSize} == 5" value="5">5개</option>
                            <option th:selected="${pageSize} == 10" value="10">10개</option>
                            <option th:selected="${pageSize} == 25" value="25">25개</option>
                            <option th:selected="${pageSize} == 50" value="50">50개</option>
                        </select>
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-secondary">변경</button>
                    </div>
                </div>

            </form>
        </div>

        <div style="height: 16px;"></div>

        <div class="table-responsive">

            <form id="formEditSummaries" th:action="@{/v2/item-orders/edit-summaries}" method="POST" th:object="${editForm}">

                <table class="table text-center small align-middle w-100" style="display: block; margin-bottom: 0 !important;">

                    <thead class="table-light">
                    <tr>
                        <th scope="col">
                            <input class="form-check-input chk-select-all-rows" type="checkbox" aria-label="전체 선택">
                        </th>
                        <th scope="col">상태</th>
                        <th scope="col">상품주문번호</th>
                        <th class="w-100" scope="col">상품명</th>
                        <th scope="col">합배송</th>
                        <th scope="col">수량</th>
                        <th scope="col">
                            <div th:replace="~{fragments/pagenation :: sortHeader('SHIPPING_REGION_NAME', '지역', ${nextSortParams})}"></div>
                        </th>
                        <th scope="col">구매자</th>
                        <th scope="col">수취인</th>
                        <th class="col-date" scope="col">
                            <div th:replace="~{fragments/pagenation :: sortHeader('PLACED_ON', '주문일자', ${nextSortParams})}"></div>
                        </th>
                        <th scope="col">
                            <div th:replace="~{fragments/pagenation :: sortHeader('DISPATCH_DEADLINE', '발송기한', ${nextSortParams})}"></div>
                        </th>
                        <th scope="col">
                            <div th:replace="~{fragments/pagenation :: sortHeader('PREFERRED_SHIPS_ON', '희망배송일자', ${nextSortParams})}"></div>
                        </th>
                        <th class="col-date" scope="col">
                            <div th:replace="~{fragments/pagenation :: sortHeader('PURCHASED_ON', '발주일자', ${nextSortParams})}"></div>
                        </th>
                        <th class="col-date" scope="col">
                            <div th:replace="~{fragments/pagenation :: sortHeader('DISPATCHED_ON', '출고일자', ${nextSortParams})}"></div>
                        </th>
                        <th class="col-date" scope="col">
                            <div th:replace="~{fragments/pagenation :: sortHeader('SHIPPED_ON', '배송일자', ${nextSortParams})}"></div>
                        </th>
                        <th scope="col">송장번호</th>
                        <th class="col-date" scope="col">
                            <div th:replace="~{fragments/pagenation :: sortHeader('CONFIRMED_ON', '확정일자', ${nextSortParams})}"></div>
                        </th>
                        <th class="col-date" scope="col">
                            <div th:replace="~{fragments/pagenation :: sortHeader('CANCELLED_ON', '취소일자', ${nextSortParams})}"></div>
                        </th>
                        <th class="col-date" scope="col">
                            <div th:replace="~{fragments/pagenation :: sortHeader('REFUNDED_ON', '반품일자', ${nextSortParams})}"></div>
                        </th>
                    </tr>

                    <tr>
                        <th scope="col"></th>
                        <th scope="col" colspan="4">고객메모</th>
                        <th scope="col" colspan="6">발주메모</th>
                        <th scope="col" colspan="4">배송메모</th>
                        <th scope="col" colspan="4">관리자메모</th>
                    </tr>
                    </thead>

                    <tbody th:with="content = ${page.getContent()}"
                           th:each="fulfillment, rowStat : ${fulfillmentList}"
                           th:class="|table-row ${fulfillment.itemOrderState.name().toLowerCase()}|"
                           th:classappend="${rowStat.even ? 'table-light' : ''}">

                    <tr>
                        <td class="td">
                            <input type="checkbox"
                                   aria-label="선택"
                                   class="form-check-input chk-select-row"
                                    th:field="*{rows[__${rowStat.index}__].isSelected}">
                        </td>

                        <td class="td">
                            <select class="form-select form-select-sm"
                                    aria-label="주문 상태 선택"
                                    style="min-width: 72px"
                                    th:field="*{rows[__${rowStat.index}__].itemOrderState}">
                                <option th:each="itemOrderState : ${itemOrderStates}"
                                        th:value="${itemOrderState}"
                                        th:text="${itemOrderState.description}"
                                        th:selected="${itemOrderState} == ${fulfillment.itemOrderState}">
                                </option>
                            </select>
                        </td>

                        <td class="td">
                            <div class="d-flex">
                                <th:block th:switch="${fulfillment.salesChannel.description}">
                                    <img class="img-order-location" th:case="스마트스토어" src="/image/smartstore.png" aria-label="스마트스토어"  alt="/image/fallback.jpg"/>
                                    <img class="img-order-location" th:case="매장" src="/image/local.png" aria-label="스마트스토어"  alt="/image/fallback.jpg"/>
                                </th:block>

                                <div style="width: 6px"></div>

                                <a href="#" th:text="${fulfillment.orderNumber}">상품주문번호</a>

                                <input type="hidden" th:field="*{rows[__${rowStat.index}__].itemOrderNumber}">
                            </div>

                        </td>

                        <td class="text-nowrap col-expand text-start" th:text="|${fulfillment.productName} [${fulfillment.optionInfo}]|">
                            상품명
                        </td>

                        <td class="td">
                            <a href="#"
                               th:classappend="${fulfillment.itemOrderBundleCount > 1} ? 'accent' : ''"
                               th:text="${fulfillment.itemOrderBundleCount}">
                                합배송수
                            </a>
                        </td>

                        <td class="td"
                            th:text="${fulfillment.amount}"
                            th:classappend="${fulfillment.amount > 1} ? 'accent' : ''">
                            수량
                        </td>

                        <td class="td" th:text="${fulfillment.shippingRegionName}">지역</td>

                        <td class="td">
                            <a href="#" th:text="${fulfillment.customerName}">구매자</a>
                        </td>

                        <td class="td" th:text="${fulfillment.recipientName}">수취인</td>

                        <td class="td" th:text="${fulfillment.getPlacedOn}">주문일자</td>

                        <td class="td position-relative">
                            <input class="form-control form-control-sm" type="date" aria-label="발송기한"
                                   th:field="*{rows[__${rowStat.index}__].dispatchDeadline}"
                                   th:errorclass="is-invalid">

                            <div class="invalid-tooltip" th:errors="*{rows[__${rowStat.index}__].dispatchDeadline}">
                                에러 메세지
                            </div>
                        </td>

                        <td class="td position-relative">
                            <input class="form-control form-control-sm" type="date" aria-label="희망배송일자"
                                   th:errorclass="is-invalid"
                                   th:field="*{rows[__${rowStat.index}__].preferredShipsOn}">


                            <div class="invalid-tooltip" th:errors="*{rows[__${rowStat.index}__].preferredShipsOn}">
                                에러 메세지
                            </div>
                        </td>

                        <td class="td" th:text="${fulfillment.purchasedOn}">발주일자</td>

                        <td class="td" th:text="${fulfillment.dispatchedOn}">출고일자</td>

                        <td class="td" th:text="${fulfillment.shippedOn}">배송일자</td>

                        <td class="td">
                            <input class="form-control form-control-sm" type="text" aria-label="송장번호" style="width: 144px">
                        </td>

                        <td class="td" th:text="${fulfillment.confirmedOn}">확정일자</td>

                        <td class="td" th:text="${fulfillment.cancelledOn}">취소일자</td>

                        <td class="td" th:text="${fulfillment.refundedOn}">반품일자</td>
                    </tr>
                    <tr>
                        <td class="td"></td>

                        <td colspan="4" class="td text-start"
                            th:text="${fulfillment.customerMessage}">고객메세지</td>

                        <td class="td" colspan="6">
                            <input class="form-control form-control-sm" type="text"
                                   th:field="*{rows[__${rowStat.index}__].purchaseMemo}" aria-label="발주메모">
                        </td>

                        <td class="td" colspan="4">
                            <input class="form-control form-control-sm" type="text"
                                   th:field="*{rows[__${rowStat.index}__].shippingMemo}" aria-label="배송메모">
                        </td>

                        <td class="td" colspan="4">
                            <input class="form-control form-control-sm" type="text"
                                   th:field="*{rows[__${rowStat.index}__].adminMemo}" aria-label="관리자메모">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

    <div style="height: 32px;"></div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${page.first ? 'disabled' : ''}">
                <a class="page-link" th:href="${@replaceOrAddParam.apply('page', #strings.toString(page.number - 1))}" aria-label="이전 페이지로">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item" th:classappend="${1 == currentPage ? 'active' : ''}">
                <a class="page-link"  th:href="${@replaceOrAddParam.apply('page',  #strings.toString(0))}" th:text="1" th:aria-label="|1번 페이지로|"></a>
            </li>

            <li class="page-item disabled" th:if="${showLeftDots}">
                <a class="page-link" href="#">...</a>
            </li>

            <li class="page-item" th:each="i : ${pageNumbers}"
                th:if="${i != 1 and i != totalPage}"
                th:classappend="${i == currentPage ? 'active' : ''}">
                <a class="page-link" th:href="${@replaceOrAddParam.apply('page', #strings.toString(i - 1))}" th:text="${i}" th:aria-label="|${i}번 페이지로|"></a>
            </li>

            <li class="page-item disabled" th:if="${showRightDots}">
                <a class="page-link" href="#">...</a>
            </li>

            <li class="page-item" th:if="${totalPage > 1}" th:classappend="${totalPage == currentPage ? 'active' : ''}">
                <a class="page-link" th:href="${@replaceOrAddParam.apply('page',  #strings.toString(totalPage - 1))}" th:text="${totalPage}" th:aria-label="|${totalPage}번 페이지로|"></a>
            </li>

            <li class="page-item" th:classappend="${page.last ? 'disabled' : ''}">
                <a class="page-link" th:href="${@replaceOrAddParam.apply('page',  #strings.toString(page.number + 1))}" aria-label="다음 페이지로">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
</body>

</html>