<!DOCTYPE html>
<html th:replace="~{fragments/layout::layoutFragment (~{::title}, ~{::section}, ~{}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마니보고 주문관리 서비스 V2 - 배송조회</title>
</head>
<body>

<section class="p-4">

<div style="height: 24px;"></div>

<form method="GET" th:action="@{/v2/logistics}" th:object="${queryParams}">
    <div class="bg-body-secondary rounded p-4">

        <div class="d-flex gap-4 gap-lg-5 mb-3 mb-sm-0">
            <div class="fw-semibold">
                <label class="col-form-label text-nowrap">상세검색</label>
            </div>

            <div class="row flex-grow-1">
                <div class="col-12 col-sm-auto col-lg-auto">
                    <select th:field="*{detailSearchParam}" class="form-select mb-3" aria-label="Floating label select example">
                        <option selected="selected" th:value="null">대상 선택</option>

                        <option th:each="detailParam : ${detailSearchParams}" th:value="${detailParam}" th:text="${detailParam.description}">검색 대상</option>
                    </select>
                </div>
                <div class="col-sm-auto col-lg-auto mb-3">
                    <input th:field="*{detailSearch}" style="min-width: 320px;" class="form-control" type="text" placeholder="검색내용" aria-label="상세 검색내용 입력">
                </div>
            </div>
        </div>


        <div class="d-flex gap-4 gap-lg-5 mb-3 mb-sm-0">
            <div class="fw-semibold">
                <label class="col-form-label text-nowrap">지역검색</label>
            </div>

            <div class="row flex-grow-1">
                <div class="col-6 col-sm-auto">
                    <select th:field="*{sido}" style="min-width: 160px;" class="form-select mb-3" aria-label="시/도 선택">
                        <option selected="selected" th:value="null">시/도 선택</option>
                        <option th:each="sido : ${regions.keySet().toArray()}" th:value="${sido}" th:text="${sido}"></option>
                    </select>
                </div>
                <div class="col-6 col-sm-auto">
                    <select th:field="*{sigungu}" style="min-width: 160px;" class="form-select mb-3" aria-label="시/군/구 선택">
                        <option selected="selected" th:value="null">시/군/구 선택</option>

                        <th:block th:if="*{!#strings.isEmpty(sido)}">
                            <option th:each="sigungu : ${regions.get(queryParams.sido)}" th:value="${sigungu}" th:text="${sigungu}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
        </div>

        <div class="d-flex">
            <div class="flex-md-grow-1"></div>

            <div class="d-flex justify-content-end gap-2">

                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i> 검색
                </button>

                <a th:href="@{/v2/logistics}" class="btn btn-secondary">초기화</a>
            </div>
        </div>
    </div>
</form>


<div style="height: 24px;"></div>

<div class="container-fluid" style="max-width: 1920px;">

    <div th:replace="~{fragments/pagenation :: pageHeader('/v2/logistics', ${page}, ~{})}"></div>

    <div style="height: 16px;"></div>

    <div class="table-responsive">
    <table class="table table-striped text-center small align-middle w-100 text-nowrap" style="display: block; margin-bottom: 0 !important;">
            <thead class="table-light">
            <tr>
                <th scope="col" style="min-width: 160px;">묶음배송번호</th>
                <th scope="col">시/도</th>
                <th scope="col">시/군/구</th>
                <th scope="col">구매자</th>
                <th scope="col">수취인</th>
                <th scope="col">발주</th>
                <th scope="col">출고</th>
                <th scope="col">배송</th>
                <th scope="col">취소</th>
                <th scope="col">환불</th>
                <th scope="col" class="w-100" style="min-width: 320px;">고객메세지</th>
                <th scope="col" class="w-100" style="min-width: 320px;">배송메모</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-row" th:each="logistics : ${logisticsList}">
                <td>
                    <a th:href="|/v2/logistics/${logistics.shippingBundleNumber}/invoice|"
                       onclick="window.open(this.href, 'logisticsInvoice', 'width=800, height=960'); return false;"
                       th:text="${logistics.shippingBundleNumber}">묶음배송번호</a>
                </td>
                <td th:text="${logistics.sido}">시/도</td>
                <td th:text="${logistics.sigungu}">시/군/구</td>
                <td th:text="${logistics.customerName}">구매자</td>
                <td th:text="${logistics.recipientName}">수취인</td>
                <td th:text="${logistics.purchasedCount}">0</td>
                <td th:text="${logistics.dispatchedCount}">0</td>
                <td th:text="${logistics.shippedCount}">0</td>
                <td th:text="${logistics.cancelledCount}">0</td>
                <td th:text="${logistics.refundedCount}">0</td>
                <td class="text-wrap text-start" th:text="${logistics.customerMessage}">고객메세지</td>
                <td class="text-wrap text-start" th:text="${logistics.shippingMemo}">배송메모</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="height: 32px;"></div>

<div th:replace="~{fragments/pagenation :: pageControl(${page})}"></div>

</section>
</body>

<script th:inline="javascript">
    document.getElementById('sido')
        .addEventListener('change', (e) => {
            const select = document.getElementById('sigungu');
            select.innerHTML = '<option selected="selected" value>시/군/구 선택</option>';

            if (!e.target.value) return;

            for (const sigungu of [[${regions}]][e.target.value]) {
                select.innerHTML += `\n<option name="sigungu" value="${sigungu}">${sigungu}</option>`
            }
        });
</script>
</html>