<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/table.css">

</head>
<body>

<input type="file" id="inputOrderList" />

<form method="POST" th:action="@{/v2/orders/edit}" th:object="${orderList}">

    <button type="submit">수정</button>

    <table class="table">
        <thead>
            <tr>
                <th class="th" scope="col">
                    <input class="chk-select-all-rows" type="checkbox" aria-label="전체 선택">
                </th>
                <th class="th" scope="col">상태</th>
                <th class="th" scope="col">상품주문번호</th>
                <th class="th" scope="col">상품명</th>
                <th class="th" scope="col">합배송</th>
                <th class="th" scope="col">수량</th>
                <th class="th" scope="col">지역</th>
                <th class="th" scope="col">구매자</th>
                <th class="th" scope="col">수취인</th>
                <th class="th" scope="col">주문일자</th>
                <th class="th" scope="col">발송기한</th>
                <th class="th" scope="col">희망배송일자</th>
                <th class="th" scope="col">발주일자</th>
                <th class="th" scope="col">출고일자</th>
                <th class="th" scope="col">배송일자</th>
                <th class="th" scope="col">송장번호</th>
                <th class="th" scope="col">확정일자</th>
                <th class="th" scope="col">취소일자</th>
                <th class="th" scope="col">반품일자</th>
            </tr>

            <tr>
                <th class="th" scope="col"></th>
                <th class="th" scope="col" colspan="4">고객메모</th>
                <th class="th" scope="col" colspan="6">발주메모</th>
                <th class="th" scope="col" colspan="4">배송메모</th>
                <th class="th" scope="col" colspan="4">관리자메모</th>
            </tr>
        </thead>

        <tbody th:each="order : *{orders}"
               th:class="|table-row ${order.orderState.name().toLowerCase()}|">
            <tr>
                <td class="td">
                    <input type="checkbox"
                           aria-label="선택"
                           class="chk-select-row"
                           th:field="*{orders[__${orderStat.index}__].rowSelected}">
                </td>

                <td class="td">
                    <select class="h-100" aria-label="주문 상태 선택">
                        <option th:each="orderState : ${orderStates}"
                                th:value="${orderState}"
                                th:text="${orderState.description}"
                                th:selected="${orderState} == *{orders[__${orderStat.index}__].orderState}">
                        </option>
                    </select>
                </td>

                <td class="td">
                    <div class="row">
                        <th:block th:switch="*{orders[__${orderStat.index}__].orderLocation.description}">
                            <img class="img-order-location" th:case="스마트스토어" src="/image/smartstore.png" aria-label="스마트스토어"  alt="/image/fallback.jpg"/>
                            <img class="img-order-location" th:case="매장" src="/image/local.png" aria-label="스마트스토어"  alt="/image/fallback.jpg"/>
                        </th:block>

                        <div style="width: 6px"></div>

                        <a href="#" th:text="*{orders[__${orderStat.index}__].orderNumber}">상품주문번호</a>
                    </div>

                    <input type="hidden" th:field="*{orders[__${orderStat.index}__].orderNumber}">
                </td>

                <td class="td text-left" th:text="*{orders[__${orderStat.index}__].productName}">
                    상품명
                </td>

                <td class="td">
                    <a href="#"
                       th:classappend="*{orders[__${orderStat.index}__].shippingBundleCount > 1} ? 'accent' : ''"
                       th:text="*{orders[__${orderStat.index}__].shippingBundleCount}">
                        합배송수
                    </a>
                </td>

                <td class="td"
                    th:text="*{orders[__${orderStat.index}__].amount}"
                    th:classappend="*{orders[__${orderStat.index}__].amount > 1} ? 'accent' : ''">
                    수량
                </td>

                <td class="td" th:text="*{orders[__${orderStat.index}__].shippingRegionName}">지역</td>

                <td class="td">
                    <a href="#" th:text="*{orders[__${orderStat.index}__].buyerName}">구매자</a>
                </td>

                <td class="td" th:text="*{orders[__${orderStat.index}__].receiverName}">수취인</td>

                <td class="td">
                    <input class="h-100" type="date" aria-label="주문일자"
                           th:field="*{orders[__${orderStat.index}__].orderPlacedOn}">
                </td>

                <td class="td">
                    <input class="h-100" type="date" aria-label="발송기한"
                           th:field="*{orders[__${orderStat.index}__].dispatchDeadlineOn}">
                </td>

                <td class="td">
                    <input class="h-100" type="date" aria-label="희망배송일자"
                           th:value="*{orders[__${orderStat.index}__].preferShipsOn}">
                </td>

                <td class="td">
                    <input class="h-100" type="date" aria-label="발주일자"
                           th:field="*{orders[__${orderStat.index}__].purchasedOn}">
                </td>

                <td class="td">
                    <input class="h-100" type="date" aria-label="출고일자"
                           th:field="*{orders[__${orderStat.index}__].dispatchedOn}">
                </td>

                <td class="td">
                    <input class="h-100" type="date" aria-label="배송일자"
                           th:field="*{orders[__${orderStat.index}__].shippedOn}">
                </td>

                <td class="td">
                    <input class="h-100" type="text" aria-label="송장번호"
                           th:field="*{orders[__${orderStat.index}__].shippingTrackingNumber}">
                </td>

                <td class="td">
                    <input type="date"
                           th:field="*{orders[__${orderStat.index}__].confirmedOn}"
                           aria-label="확정일자">
                </td>

                <td class="td">
                    <input class="h-100" type="date" aria-label="취소일자"
                           th:field="*{orders[__${orderStat.index}__].confirmedOn}">
                </td>

                <td class="td">
                    <input type="date"
                           th:field="*{orders[__${orderStat.index}__].confirmedOn}"
                           aria-label="반품일자">
                </td>
            </tr>
            <tr>
                <td class="td"></td>

                <td colspan="4" class="td text-left" th:text="*{orders[__${orderStat.index}__].buyerMemo}">고객메모</td>

                <td class="td" colspan="6">
                    <input class="w-100 h-100" type="text" th:field="*{orders[__${orderStat.index}__].purchaseMemo}" aria-label="발주메모">
                </td>

                <td class="td" colspan="4">
                    <input class="w-100 h-100" type="text" th:field="*{orders[__${orderStat.index}__].shippingMemo}" aria-label="배송메모">
                </td>

                <td class="td" colspan="4">
                    <input class="w-100 h-100" type="text" th:field="*{orders[__${orderStat.index}__].adminMemo}" aria-label="관리자메모">
                </td>
            </tr>
        </tbody>
    </table>

</form>

</body>

<script src="/js/table.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js" integrity="sha512-vDTLyifjBBdmGeJrJMO7w+qbbk+7uyoKsUxkhgxPtn3YShSVspezU0EXf780txBgNXzfKkEt7a3RhLs7NmInJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- use version 0.20.3 -->
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>

<script>

    document.getElementById('inputOrderList').addEventListener('change', handleExcelFile);

    function handleExcelFile(e) {
        const file = e.target.files[0];

        const reader = new FileReader();

        reader.onload = () => {
            const arrayBuffer = reader.result;

            const workbook = XLSX.read(arrayBuffer, { type: 'binary' });

            const sheet = workbook.Sheets[workbook.SheetNames[0]];

            const json = XLSX.utils.sheet_to_json(sheet, { range: 1 });

            console.log(json)
        };

        reader.onerror = () => {
            console.error('파일을 읽는 중 에러가 발생했습니다.');
        }

        reader.readAsArrayBuffer(file);
    }

</script>

</html>