<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">

</head>
<body>

<form method="POST" th:object="${orderRows}">

    <table>
        <thead>
            <tr>
                <th scope="col">
                    <input type="checkbox" aria-label="전체 선택">
                </th>
                <th scope="col">상태</th>
                <th scope="col">상품주문번호</th>
                <th scope="col">상품명</th>
                <th scope="col">합배송</th>
                <th scope="col">수량</th>
                <th scope="col">지역</th>
                <th scope="col">구매자</th>
                <th scope="col">수취인</th>
                <th scope="col">주문일자</th>
                <th scope="col">발송기한</th>
                <th scope="col">희망배송일자</th>
                <th scope="col">발주일자</th>
                <th scope="col">출고일자</th>
                <th scope="col">배송일자</th>
                <th scope="col">송장번호</th>
                <th scope="col">확정일자</th>
                <th scope="col">취소일자</th>
                <th scope="col">반품일자</th>
            </tr>
        </thead>

        <tbody>
        <tr th:each="_, rowStat : *{rows}" >

            <td>
                <input type="checkbox" aria-label="선택" th:field="*{rows[__${rowStat.index}__].rowSelected}">
            </td>

            <td>
                <select aria-label="주문 상태 선택">
                    <option th:each="orderState : ${orderStates}"
                            th:value="${orderState}"
                            th:text="${orderState.description}"
                            th:selected="${orderState} == *{rows[__${rowStat.index}__].orderState}">
                    </option>
                </select>
            </td>

            <td>
                <a href="#" class="fs-7" th:text="*{rows[__${rowStat.index}__].orderNumber}">상품주문번호</a>
            </td>

            <td th:text="*{rows[__${rowStat.index}__].productName}">
                상품명
           </td>

            <td>
                <a href="#" class="fs-7" th:text="*{rows[__${rowStat.index}__].shippingBundleCount}">합배송수</a>
            </td>

            <td>
                <div th:text="*{rows[__${rowStat.index}__].amount}">수량</div>
            </td>

            <td th:text="*{rows[__${rowStat.index}__].shippingRegionName}">지역</td>

            <td>
                <a href="#" th:text="*{rows[__${rowStat.index}__].buyerName}">구매자</a>
            </td>

            <td th:text="*{rows[__${rowStat.index}__].receiverName}">수취인</td>

            <td>
                <input
                       type="date"
                       th:field="*{rows[__${rowStat.index}__].orderPlacedOn}"
                       aria-label="주문일자">
            </td>

            <td>
                <input
                        type="date"
                       th:field="*{rows[__${rowStat.index}__].dispatchDeadlineOn}"
                       aria-label="발송기한">
            </td>

            <td >
                <input type="date"
                       th:value="*{rows[__${rowStat.index}__].preferShipsOn}"
                       aria-label="희망배송일자">
            </td>

            <td>
                <input type="date"
                       th:field="*{rows[__${rowStat.index}__].purchasedOn}"
                       aria-label="발주일자">
            </td>

            <td>
                <input type="date"
                       th:field="*{rows[__${rowStat.index}__].dispatchedOn}"
                       aria-label="출고일자">
            </td>

            <td>
                <input type="date"
                       th:field="*{rows[__${rowStat.index}__].shippedOn}"
                       aria-label="배송일자">
            </td>

            <td>
                <input type="text"
                       th:field="*{rows[__${rowStat.index}__].shippingTrackingNumber}"
                       aria-label="송장번호">
            </td>

            <td>
                <input type="date"
                       th:field="*{rows[__${rowStat.index}__].confirmedOn}"
                       aria-label="확정일자">
            </td>

            <td>
                <input type="date"
                       th:field="*{rows[__${rowStat.index}__].confirmedOn}"
                       aria-label="취소일자">
            </td>

            <td>
                <input type="date"
                       th:field="*{rows[__${rowStat.index}__].confirmedOn}"
                       aria-label="반품일자">
            </td>
        </tr>
        </tbody>
    </table>

</form>

</body>

<style>

    * {
        font-size: 12px !important;
        box-sizing: border-box !important;
    }

    .table * {
        white-space: nowrap;
    }

    table, th, td {
        border: 1px solid #d1d1d1;
        border-collapse: collapse;
        white-space: nowrap;
        padding: 12px 8px;
    }

    th {
        border-color: #647189;
        background-color: #727f98;
        color: white;
        font-weight: normal;
    }

    td {
        text-align: center;
        min-width: 48px;
        vertical-align: middle;
    }

    input, select {
        /* top | right | bottom | left */
        padding: 4px 4px 2px 4px;
    }

</style>

<script>
</script>
</html>