<!DOCTYPE html>
<html th:replace="~{fragments/layout::layoutFragment (~{::title}, ~{::section}, ~{}, ~{})}"
      xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마니보고 주문관리 서비스 V2 - 배송조회</title>
</head>
<body>

<section class="p-4">

<nav class="d-flex align-items-end gap-2">
    <div>총 <span th:text="${page.totalElements}" class="text-primary fw-bold">0</span>건</div>
    <div class="flex-grow-1"></div>

    <div class="col-auto">
        <select id="selectPageSize" class="form-select">
            <th:block th:each="pageSize : ${page.pageSizes()}">
                <option th:value="${pageSize.url()}"
                        th:text="|${pageSize.size()}개|"
                        th:selected="${pageSize.isCurtSize()}"></option>
            </th:block>
        </select>
    </div>
    <a id="btnChangePageSize" class="btn btn-secondary">변경</a>
</nav>

<div style="height: 16px;"></div>

<div class="table-responsive">
    <table class="table table-striped text-center small align-middle w-100 text-nowrap" style="display: block; margin-bottom: 0 !important;">
        <thead class="table-light">
        <tr>
            <th scope="col">상태</th>
            <th scope="col" style="min-width: 160px;">배송번호</th>
            <th scope="col" class="w-100">대표물품</th>
            <th scope="col">주문수</th>
            <th scope="col">총수량</th>
            <th scope="col">시/도</th>
            <th scope="col">시/군/구</th>
            <th scope="col">수취인</th>
            <th scope="col">고객메세지</th>
            <th scope="col">배송메모</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="shipping : ${page.content()}">
            <tr>
                <td>
                    <div class="d-inline-flex px-2 py-1 border bg-white rounded-2" th:text="#{${T(kr.tatine.manibogo_oms_v2.common.utils.EnumI18n).key(shipping.shippingState()) + '.short'}}"></div>
                </td>
                <td>
                    <div class="d-flex justify-content-center align-items-center gap-2">
<!--                        <small th:if="${shipping.shippingMethod() == T(kr.tatine.manibogo_oms_v2.common.model.ShippingMethod).DIRECT}" class="d-inline-flex px-2 py-1 fw-semibold text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2">직접</small>-->
<!--                        <small th:if="${shipping.shippingMethod() == T(kr.tatine.manibogo_oms_v2.common.model.ShippingMethod).PARCEL}" class="d-inline-flex px-2 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">택배</small>-->

                        <a class="align-middle" href="#" th:text="${shipping.shippingNumber().getShippingNumber()}"></a>
                    </div>
                </td>
                <td class="text-start" th:text="${shipping.primaryProductName() ?: '없음'} + ' (수량: ' + ${shipping.primaryOrderQuantity() ?: '0'} + '개)'"></td>
                <td>
                    <a href="#" th:text="|${shipping.totalOrderCount() ?: '0'}건|"></a>
                </td>
                <td th:text="|${shipping.totalQuantity() ?: '0'}개|"></td>
                <td th:text="${shipping.sido()}"></td>
                <td th:text="${shipping.sigungu()}"></td>
                <td th:text="${shipping.recipientName()}"></td>
                <td></td>
                <td></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<div style="height: 24px;"></div>

<ul class="pagination justify-content-center">
    <th:block th:each="navItem : ${page.navItems()}">
        <li class="page-item"
            th:classappend="(${!navItem.clickable()} ? 'disabled' : '') + (${navItem.isCurtPage()} ? 'active' : '')">
            <a class="page-link" th:href="${navItem.url()}" th:text="${navItem.label()}"></a>
        </li>
    </th:block>
</ul>

</section>
</body>

</html>