<!DOCTYPE html>
<html th:replace="~{fragments/layout::layoutFragment (~{::title}, ~{::section}, ~{}, ~{})}"
      xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>마니보고 주문관리 서비스 V2 - 옵션관리</title>
</head>
<body>

<section class="p-4">


<nav class="d-flex gap-2">

  <div class="flex-grow-1"></div>

  <a th:href="@{/v2/products}" class="btn btn-secondary">
    목록으로
  </a>

  <button type="submit" class="btn btn-primary">
    <i class="bi bi-pencil-fill"></i> 선택수정
  </button>
</nav>

<hr/>

<div style="height: 24px;"></div>

<div class="container-xxl">

  <div th:replace="~{fragments/pagenation :: pageHeader('/v2/products/' + ${productNumber} + '/variants', ${page}, ~{})}"></div>

  <div style="height: 16px;"></div>

  <table class="table table-striped text-center small">
    <thead class="table-light">
    <tr>
      <th scope="col">
        <input class="form-check-input chk-select-all-rows" type="checkbox" aria-label="전체 선택">
      </th>
      <th scope="col">이름</th>
      <th scope="col">값</th>
      <th scope="col">레이블</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="variant : ${variants}">
      <td class="td">
        <input type="checkbox"
               aria-label="선택"
               class="form-check-input chk-select-row" />
      </td>
      <td th:text="${variant.key}">이름</td>
      <td th:text="${variant.value}">값</td>
      <td>
        <input type="text"
               class="form-control form-control-sm"
               th:value="${variant.value}" aria-label="레이블" />
      </td>
    </tr>
    </tbody>
  </table>

  <div style="height: 8px;"></div>

  <div class="d-flex justify-content-end">
    <a th:href="@{/v2/products/${productNumber}/variants/add}" class="btn btn-primary">
      <i class="bi bi-plus-lg"></i> 옵션추가
    </a>
  </div>

  <div style="height: 24px;"></div>

  <div th:replace="~{fragments/pagenation :: pageControl(${page})}"></div>

</div>

</section>
</body>
</html>